#object files
*.o

#latex build files
*.synctex.gz
*.blg
*.bbl
*.aux
*.pdf

#vim
*.swp

#build targets
loat
src/loat
src/koatToComplexity
src/koatToT2

#benchmarking directories
benchlog
benchscores
koat-examples

#IDEs and build dirs
loat-qtcreator*
qtcreator-build
.idea
cmake-build-debug

#txt files used for dumping output etc
*.txt
